@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #f1f5f9;
  --fg-color: #030712;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #030712;
    --fg-color: #f1f5f9;
  }
}

body {
  color: var(--fg-color);
  background-color: var(--bg-color);
  transition: color 0.5s, background-color 0.5s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #f97316;
  border-radius: 2px;
}

/* Cursors */
.cursor1 {
  position: fixed;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px #ff8000 solid;
  background-color: #ff800019;
  transform: translate(-50%, -50%);
  transition: all 0.1s;
  z-index: -1;
}

.cursor2 {
  position: fixed;
  left: 0;
  top: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ff8000;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
  z-index: -1;
}

p:hover .cursor1 {
  width: 35px;
  height: 35px;
}
