.stack {
  text-shadow: 10px 10px 20px rgba(226, 123, 13, 0.183);
}

#stack {
  cursor: pointer;
}

#stack::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  z-index: 5;
  width: 0%;
  height: 4px;
  transition: 0.5s;
  border-radius: 5px;
  background: linear-gradient(to right, rgb(0, 234, 255), purple);
}

#stack:hover::after {
  width: 100%;
}

#me1 {
  background: url("/images/uploads/me_.jpg") no-repeat center;
  background-size: cover;
}

#me2 {
  background: url("/images/uploads/me_.jpg") no-repeat top;
  background-size: cover;
}

.toDown,
.toTop,
.toRight,
.toLeft,
.blurApp {
  opacity: 1;
  transition: 0.8s;
  filter: none;
  transform: translate(0%) scale(1) rotate(0deg);
}

.topDownStyle {
  opacity: 0;
  filter: blur(8px);
  transform: translateY(-100%);
}

.downTopStyle {
  opacity: 0;
  filter: blur(8px);
  transform: translateY(100%);
}

.scaleDownStyle {
  opacity: 0;
  filter: blur(8px);
  transform: scale(1.1);
}

.blurThenAppear {
  filter: blur(8px);
}

.project-cover {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.951), rgba(0, 0, 0, 0.527), rgba(255, 255, 255, 0.103));
}

/* main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
} */

.panel-c {
  border-image-source: url("/images/others/panel-type.png");
  border-image-slice: 40 30 fill;
  border-image-width: 40px 30px;
}

#me,
#stats__,
#projects {
  align-items: center;
  grid-column: 1 / 13;
  margin-inline: auto;
}

#about {
  grid-column: 1 / 13;
}

.bullet-edu {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  right: -7px;
  z-index: 10;
}

.right-con .bullet-edu {
  left: -7px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background: rgba(6, 100, 163, 0.453);
  top: 0;
  left: 50%;
  margin-left: -2px;
  z-index: -1;
}

@media screen and (max-width: 640px) {
  .timeline::after {
    display: none;
  }
}
